.container {
    padding: 0 2rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.main {
    width: 100%;
    min-height: 100px;
    padding: 0.2rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    width: 900px;
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
